#create-combinations {
  width: 90%;
  margin: 10px;
}

#custom-attribute-generator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background-color: #d2f1f7;
  margin: 20px 0px 20px 0;
}

 #cattribute-table {
  margin: 0;
}

#attribute-table tbody {
  border: 1px solid #bbcdd2;
}

#attribute-table td {
  background-color: #f3f3f3;
}

#attribute-table th {
  border: 1px solid #bbcdd2;
}

#attribute-table> #combinations_thead th {
  text-align: center;
  padding: 6px;
  background-color: #e9e9e9;
}

.group-name-attribute,
.group-subname-attribute {
  text-align: center;
  padding: 6px;
  width: 20%;
}
 
#attribute-table .input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

#attribute-table .input-group > input {
  padding: 0 10px;
  max-width: 75px;
}

#attribute-table >  .input-group-text {
  background-color: #e9e9e9;
  border: 1px solid #ccc;
}

#attribute-table .form-control {
  width: 80px; 
  border: 1px solid #ccc;
}