<div class="row" id='custom-attribute-generator'>
  <h3 class="col-12">
        {l s='Krok1. Po prawej stronie, wybierz atrybut który chcesz użyć' d='Modules.Customattribute.backoffice'}</h3>
    <div class="col-12 custom-attribute" id="custom-attribute-list">
    </div>
</div>
<div class='d-none' id="next-combination" style="display: none;">{$nextCombination}</div>
<div class='d-none' style="display: none;" id="current-tax">{$taxInfo}</div>